<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">About Cooking Blog</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">Find out more about this cooking blog</p>
    </div>
    </div>

    <div class="row justify-content-center">
        <p>
            In this space, I am always sharing fresh, flavorful, (mostly) healthy recipes that I love to make and eat in my real, actual, every day life. If I wouldn’t eat it in real life, I won’t put in on the blog. My goal is to inspire you with food that is both approachable AND exciting, whether you’re cooking for yourself, your family, your roommates, or your friends. I want you to be so excited about these recipes that you eagerly await 5pm when you can go home from work and start cooking.
        </p>


    </div>