<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Contact Us</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">Join to be a part of this community</p>
    </div>
</div>



<div class="row justify-content-center">
    <% if(infoContactObj !='' ) { %>
        <div class=" col-8 alert alert-success" role="alert">
            <%= infoContactObj %>
        </div>
        <% } %>

            <% if(infoErrorObj !='' ) { %>
                <div class=" col-8 alert alert-danger" role="alert">
                    <%= infoErrorObj[0].message %>
                </div>
                <% } %>


                    <div class="col-8">



                        <form class="needs-validation" action="/contact" enctype="multipart/form-data" method="post"
                            novalidate>

                            <div class="row g-3">

                                <div class="col-12">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" name="name" id="name" class="form-control" required>
                                    <div class="invalid-feedback">
                                        Please enter your name.
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" name="email" id="email" class="form-control" required>
                                    <div class="invalid-feedback">
                                        Please enter a valid email address.
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="subject" class="form-label">Subject</label>
                                    <input type="text" name="subject" id="subject" class="form-control" required>
                                    <div class="invalid-feedback">
                                        Please enter a subject.
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="message" class="form-label">Message</label>
                                    <textarea name="message" id="message" class="form-control" cols="30" rows="6"
                                        required></textarea>
                                    <div class="invalid-feedback">
                                        Please enter a message.
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>

                            </div>

                        </form>

                    </div>
</div>